{% extends "online_classes/base.html" %}
{% block headerclass %} header5 {% endblock headerclass %}
{% block additional_css %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/online_classes/css/jquery-ui.css">
<link href="{{STATIC_URL}}/online_classes/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
<link href="{{STATIC_URL}}/online_classes/css/autocompletebox.css" rel="stylesheet" type="text/css" media="all" />
{% endblock additional_css %}
{% block body %}
<div class="clearfix"> </div>
                    <!---->
                </div>

            </div>
            <div class="clearfix"> </div>
        </div>
        </div>
</div>
<!---->
		<!---->
		<div class="product">
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
            
            {% for classesInfoObj in data.loginObj.cart.all %}
                    <tr>
                        <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <a class="thumbnail pull-left" href="class?n={{classesInfoObj.id}}"> <img class="media-object" src="{{STATIC_URL}}/online_classes/images/{{classesInfoObj.displayName.split|join:"_"}}.png" style="width: 72px; height: 72px;"> </a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="class?n={{classesInfoObj.id}}">{{classesInfoObj.displayName}}</a></h4>
                                <h5 class="media-heading"> by <a href="class?n={{classesInfoObj.id}}">Brand name</a></h5>
                                <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
                            </div>
                        </div></td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                        <input type="email" class="form-control" id="exampleInputEmail1" value="1">
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{classesInfoObj.amount}}</strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{classesInfoObj.amount}}</strong></td>
                        <td class="col-sm-1 col-md-1">
                        <button type="button" class="btn btn-danger" onclick="addToCart('{{classesInfoObj.id}}','remove'); window.location.href='{{data.page}}';">
                            <span class="glyphicon glyphicon-remove"></span> Remove
                        </button></td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong>{{data.cartSum}}</strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                        <button type="button" class="btn btn-default" onclick="window.location.href='product';">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                        </button></td>
                        <td>
                        <button type="button" class="btn btn-success">
                            Checkout <span class="glyphicon glyphicon-play"></span>
                        </button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<br>
{% endblock body %}
