{% extends "online_classes/base.html" %}                                                                                                                                                    
                                                                                                                                                                                         
{% block headerclass %} header5 {% endblock headerclass %}
{% block body %}
<style>
.ing {
    cursor:pointer;
}
</style>
<div class="clearfix"> </div>
                    <!---->
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        </div>
</div>
<br><br><br>
<div class="container ">
    <div class="panel-group" id="faqAccordion">
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question-1">
                 <h4 class="panel-title">
                    <a  class="ing">Q: Why i need this live project ?</a>
              </h4>

            </div>
            <div id="question-1"class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>Live project is a differentiator that employers consider when reviewing your resume. The best way to impress potential employers during your job search is to gain and highlight relevant work experience. For college students/freshers that’s typically worked on live project. We also share our students data with top MNCs after sucessfully completion live project. Companies call directly for interview.</p>
                        </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                 <h4 class="panel-title">
                    <a  class="ing">Q: How many students will work on one live project togather ?</a>
              </h4>

            </div>
            <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p> We generally takes 5-8 candidates for one project. We can increase candidate till 10 depends upon project deadline and urgency.
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
                 <h4 class="panel-title">
                    <a  class="ing">Q: How much time will take to finish this project ?</a>
              </h4>

            </div>
            <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p> It depends on project, Generally we take project which can complete within 2-3 month. We share the project information and deadline date in demo session.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
                 <h4 class="panel-title">
                    <a  class="ing">Q: How many meetings in a week. Can i ask doubt in these meetings ?</a>
              </h4>

            </div>
            <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p> We generally schedule two meetings in a week. Each candidates need to share the progress status of his module in meeting. After that we discuss on the doubts and algorithms related query. If candidate can't wait till next meeting due to deadline then he/she can request 1-1 meeting to ask the doubts.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
                 <h4 class="panel-title">
                    <a  class="ing">Q: I want project on other language except mentioned platform ?</a>
              </h4>

            </div>
            <div id="question3" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>No, currently we have project only mentioned platform. If you have group of students and you want project on particular language then you can mail us on enquiry@online_classes.com. We will reply shortly after the analysis.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question4">
                 <h4 class="panel-title">
                    <a  class="ing">Q: Will you provide certificate for contribution in live project ?</a>
              </h4>

            </div>
            <div id="question4" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p> Yes. </p> 
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question5">
                 <h4 class="panel-title">
                    <a  class="ing">Q: Can I show this project contribution as experience in my cv ?</a>
              </h4>

            </div>
            <div id="question5" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>You can show live project as contribution instead of experience. We are providing you a live project contribution cirtificate which has very high weightage in your resume. It is main differentiator from other students/freshers that employers consider you when reviewing your resume.
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question6">
                 <h4 class="panel-title">
                    <a  class="ing">Q: What the communication language will be use?</a>
              </h4>

            </div>
            <div id="question6" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>We will always communicate is in English.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question7">
                 <h4 class="panel-title">
                    <a  class="ing">Q: Can I leave my project in between and start again after some time ?</a>
              </h4>

            </div>
            <div id="question7" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>No, because assume every student as employee which need to finish perticular project in given timeline. If you left in between then we will hire experienced guy to finish your module quickly. Now you need to register again and follow same process including payment.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question8">
                 <h4 class="panel-title">
                    <a  class="ing">Q: Can I pay the fees in installments ?</a>
              </h4>

            </div>
            <div id="question8" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p> No, we are not giving this facility. If you want understand process attend our demo session and then decide. See "How-it-work" page to understand the process.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question10">
                 <h4 class="panel-title">
                    <a  class="ing">Q: If I don’t know the basics of languages then can I join the course. Could you teach programming language basics as well?</a>
              </h4>

            </div>
            <div id="question10" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>No, we assume that you know then basics if you selecting language during registration. You need learn basics yourself before register.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question11">
                 <h4 class="panel-title">
                    <a  class="ing">Q: What means of company working environment and how will you provide at my home ?</a>
              </h4>

            </div>
            <div id="question11" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>You may hear about work from home facility. Top MNCs provide the work from home facility. We are taking that approach to work on the live project. We will provide the username and password and you will be login from home either in company work enviroment or in our secure enviroment. We will schedule two status meeting in a week in which each candidate will share the progress. We will also discuss on the doubts and algorithms in same meeting. Candidate can also schedule 1-1 meeting with mentor if he/she can't wait till next meeting due to deadline date</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question12">
                 <h4 class="panel-title">
                    <a  class="ing">Q: What happened if I unable to complete my project on time due to some personal urgency ?</a>
              </h4>

            </div>
            <div id="question12" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>We will hire experience guy to work on your module. You need to register again to follow same process including payment if you want to start again.</p>
                </div>
            </div>
        </div>
        
    </div>
    <!--/panel-group-->
</div>
{% endblock body %}   
